img{
    border-radius: 50%;
    height: 200px;
    margin-top: 100px;
    box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
}
.row{
    margin: 0 auto;
}
body{
    background-image: url(../images/luke-chesser-pJadQetzTkI-unsplash.jpg);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}
.navbar-brand{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.bg-dark{
    background-color: black!important;
}
.navbar-inner {
    background:transparent;
}
#content{
    text-align: center;
    margin-top: 20px;
    color: white;
}
#content i{
    margin: 0 10px;
}
#content a{
    color: white;
}
footer{
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}